<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu-Gi-Oh Portfolio</title>
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/playing-board.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <button class="start-button btn" role="button">hello</button>
    <button class="btn button-cmn" role="button"><span class="text">Click me</span><span>Confirm</span></button>

    <div id="card-container">
        <div id="card-about-me" class="card-wrapper">
            <div class="card-front">
                <div class="card-name">About me</div>
                <div class="star-container">
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                    <div class="star" v-for="n in 12"></div>
                </div>
                <div class="card-image"></div>
                <div class="card-info">
                    <div class="card-type">[About Me]</div>
                    <div class="card-description">Playing this card will take you to the page about me! You can read through all of my hobbies, experiences and what I am currently up to.</div>
                </div>
                <div class="card-footer">
                    <span class="atk">ATK / 2000</span>
                    <span class="def">DEF / 2000</span>
                </div>
            </div>
        </div>
        
        <!-- Add more cards here with unique IDs -->
        <!-- Example:
        <div id="card-projects" class="card-wrapper">
            ... (card content) ...
        </div>
        -->
    </div>

    <div id="playing-board">
        <div id="board-background">
            <div id="play-spot" class="spot"></div>
            <div id="rows">
                <div id="top-row">
                    <div id="top-row-spot1" class="spot"></div>
                    <div id="top-row-spot2" class="spot"></div>
                    <div id="top-row-spot3" class="spot"></div>
                    <div id="top-row-spot4" class="spot"></div>
                    <div id="top-row-spot5" class="spot"></div>
                </div>
                <div id="bottom-row">
                    <div id="bottom-row-spot1" class="spot"></div>
                    <div id="bottom-row-spot2" class="spot"></div>
                    <div id="bottom-row-spot3" class="spot"></div>
                    <div id="bottom-row-spot4" class="spot"></div>
                    <div id="bottom-row-spot5" class="spot"></div>
                </div>
            </div>
            <div id="deck">
                <div id="deck-spot" class="spot"></div>
            </div>
        </div>
    </div>

    <script src="js/particles.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</body>
</html>